<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.orange.mapper.UsersFansMapper" >
  <resultMap id="BaseResultMap" type="com.orange.pojo.UsersFans" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="fan_id" property="fanId" jdbcType="VARCHAR" />
  </resultMap>
  <insert id="saveUserFan" parameterType="com.orange.mapper.UsersFansMapper">
    INSERT INTO users_fans (id,user_id,fan_id) VALUES(#{id},#{userId},#{fanId})
  </insert>
  <delete id="deleteUserFan" parameterType="com.orange.mapper.UsersFansMapper">
    DELETE FROM users_fans WHERE user_id = #{userId} and fan_id = #{fanId}
  </delete>
  <select id="findUserFan" resultMap="BaseResultMap" parameterType="com.orange.mapper.UsersFansMapper">
    SELECT * FROM users_fans WHERE user_id = #{userId} and fan_id = #{fanId}
  </select>
</mapper>